<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1}]')
 });
 </script>
<% content_for :title do %>Greencandle Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="my-table" data-view="Table" data-title="Open Trades" data-moreinfo="Current trades"></div>
     </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="target" data-view="Meter" data-title="Daily Target" data-height="200" data-width="200" data-min="-100" data-max="500" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="asc1" data-view="List" data-unordered="true" data-title="asc perc pair" data-moreinfo="Ascending average percentage by pair"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="desc1" data-view="List" data-unordered="true" data-title="desc perc pair" data-moreinfo="Descending average percentage by pair"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="balance" data-view="Number" data-title="Current Balance" data-moreinfo="current balance" data-prefix="£"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="graph" data-view="Graph" data-title="Recent Trades" data-suffix="%" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
