[email]
from = someone@gmail.com
to = someone.else@gmail.com
password = password


[logging]
level = 20

[frontend]
notifications = True
auth = Token
logging = True
address = http://127.1:5001
path = /data.json
update_interval = 15

[backend]
binance_api_key =
binance_api_secret =
coinbase_api_key = blablabla
coinbase_api_secret = hello
base = ETH BTC BCC
pairs_1m = ETHBTC
test_trade = True
price_per_trade = 200
max_trades = 20
interval = 1m
drain_15m = True
drain_5m = True
drain_3m = True
drain_1m = False
indicators = get_moving_averages;WMA;7 get_moving_averages;EMA;18 get_moving_averages;EMA;25
buy_rule1 = results.current.EMA_25 > results.current.EMA_18
buy_rule2 = results.previous.EMA_25 < results.previous.EMA_18
sell_rule1 = results.current.EMA_25 < results.current.EMA_18
sell_rule2 = results.previous.EMA_25 > results.previous.EMA_18

[api]
port = 5001
interval = 15m
pairs = XRPETH ETHBTC BCCETH DASHETH ZECETH DGDETH XMRETH BNBETH BNBBTC TRXBTC STRATBTC

[database]
host = 127.0.0.1
user = root
password = password
db = greencandle
db_test = greencandle_test

[redis]
host = 127.1
port = 6379

[test]
parallel_pairs = RLCBTC
serial_pairs = ETHBTC
parallel_interval= 15m
serial_intervals = 15m 5m 3m 1m
start_time = 1524519480600
no_of_klines = 1000
indicator1 = MA;30
indicator2 = MA;20
indicator3 = MA;10
indicator4 = AWESOME;30
pairs_1m = ETHBTC
buy_rule1 = ?
buy_rule2 = ?
buy_rule3 = ?
sell_rule1 = ?
sell_rule2 = ?
sell_rule3 = ?
