coinbase==2.0.6
TA_Lib==0.4.10
plotly==2.2.3
pandas==0.22.0
Flask==0.12.2
python_resize_image==1.1.11
PyVirtualDisplay==0.2.1
selenium==3.8.1
binance==0.2
numpy==1.13.3
argcomplete==1.9.3
Pillow==5.0.0
PyQt4==4.11.4
Requests==2.18.4
simplejson==3.13.2
