argcomplete==1.9.3
binance==0.3
coinbase==2.0.6
configparser==3.5.0
-e git://github.com/adiabuk/Technical-Indicators.git#egg=indicators
-e git://github.com/toshima/binance.git#egg=binance
Flask==0.12.2
forex_python==0.3.3
lib==3.0.0
mysqlclient==1.3.12
numpy==1.13.3
oauth==1.0.1
pandas==0.21.1
Pillow==5.0.0
plotly==2.2.3
PyQt4==4.11.4
python_resize_image==1.1.11
PyVirtualDisplay==0.2.1
redis==2.10.6
requests==2.18.4
scipy==1.0.0
selenium==3.8.1
setproctitle==1.1.10
simplejson==3.13.2
ta-lib==0.4.14
TA_Lib==0.4.16
