urllib3==1.24.3
APScheduler==3.6.1
argcomplete>=1.9.3
coinbase==2.0.6
configparser==3.5.0
-e git+https://github.com/adiabuk/Technical-Indicators.git#egg=indicator
-e git+https://github.com/adiabuk/binance.git@0.6#egg=binance
-e git+https://github.com/MicroPyramid/forex-python.git#egg=forex_python
Flask>=0.12.3
lib==3.0.0
mysqlclient==1.3.12
oauth==1.0.1
pandas==1.0.1
numpy==1.16.0
Pillow>=6.2.2
plotly==4.1.1
python_resize_image==1.1.11
PyVirtualDisplay==1.3.2
redis==2.10.6
requests==2.22.0
scipy==1.4.1
selenium==3.8.1
setproctitle==1.1.10
simplejson==3.13.2
ta-lib==0.4.14
str2bool==1.1
openpyxl==2.6.3
notify-run==0.0.13
xlrd==1.2.0
requests-unixsocket==0.2.0
pylint==2.4.4
waitress
six==1.12
systemd==0.16.1
