

{% extends "layout.html" %}
<meta http-equiv="refresh" content="6">
{% block content %}
<table border=0, id="customers">
   <tr>
      <th>strategy</th>
      <th>action</th>
      {% for strat, pairs in my_dic.items() %}
   <tr>
      <td>
         {{strat}}
      </td>
      <td>
         <table>
            {% for pair in pairs %}
            <tr>

	    {% if "any" in strat %}
	    
	       <form action="/action">
	       <td>
	         <label for="fname">pair: </label>
                 <input type="text" id="pair" name="pair">
	       </td>

	        <input type="hidden" name="strategy" value="{{strat}}" />
               <td>
	          <input type="submit" name="action" value="buy">

               </td>
	       <td>
		<input type="submit" name="action" value="sell">
               </td>
	       </form>
	    {% else %}
	        <td>{{pair}}</td>
               <td>
                  <form action="/action?pair={{pair}}&strategy={{strat}}&action=buy" method="post">
                     <button name="actionBtn" type="submit">Buy</button>
                  </form>
               </td>
	       <td>
                  <form action="/action?pair={{pair}}&strategy={{strat}}&action=sell" method="post">
                     <button name="actionBtn" type="submit">Sell</button>
                  </form>
               </td>
            {% endif %}

            </tr>
            {% endfor %}
            </td>
         </table>
      </td>
   </tr>
   {% endfor %}
</table>
{% endblock %}


