{% extends "layout.html" %}
<meta content="6" http-equiv="refresh">
  {% block content %}
    <table border=0,  id="customers">
      <tr>
        <th>
          strategy
        </th>
        <th>
          action
        </th>
        {% for strat, pairs in my_dic.items() %}
          <tr>
            <td>
              {% if "any" in strat and "long-short" in strat %}
                {{ strat }}
              {% endif %}
            </td>
            <td>
              <table>
                {% for pair in pairs %}
                  <tr>
                    {% if "any" in strat %}
                      {% if "long-short" in strat %}
                        <form action="/dash/action">
                          <td>
                            <label for="fname">
                              pair:
                            </label>
                            <input id="pair" name="pair" type="text" style="text-transform:uppercase">
                              <label for="fname">
                                usd:
                              </label>

                              <input
                                id="usd"
                                maxlength="6"
                                name="usd"
                                size="6"
                                type="text"
                              >
                                <label for="fname">
                                  tp:
                                </label>

                                <input
                                  id="tp"
                                  maxlength="4"
                                  name="tp"
                                  size="4"
                                  type="text"
                                >
                                  <label for="fname"/>
                                  sl:
                                </label>

                                <input
                                  id="sl"
                                  maxlength="4"
                                  name="sl"
                                  size="4"
                                  type="text"
                                />
                              </td>
                              <input name="strategy" type="hidden" value="{{strat}}"/>
                              <td/>
                              <input name="action" type="submit" value="short"/>
                            </td>
                            <td/>
                            <input name="action" type="submit" value="long"/>
                          </td>
                          <td/>
                          <input name="action" type="submit" value="close"/>
                        </td>
                      </form>
                    {% endif %}
                  {% endif %}
                </tr>
              {% endfor %}
            </td>
          </table>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
