{% extends "layout.html" %}
{% block content %}

  {% if alert %}
    <script>
      window.alert("{{ alert }}");
    </script>
  {% endif %}

  <div>
    <h1>
      Commands
    </h1>
    <!-- Command with args -->
        {% for script, args in arg_scripts.items() %}
      Run {{ script }}
      <form action="/dash/run?command={{script}}" method="post">
        {% for item in args %}

          <!--
Loop through args and create a text box for each using name to identify box.
  contents with be retrieved later and associated with the name
-->
          {{ item }} :
          <input maxlength="6" name="{{item}}" size="6" type="text">
          {% endfor %}
          <button name="actionBtn" type="submit">
            Run
          </button>
        </form>
        <hr>
        {% endfor %}
        <!-- Command with no args -->
        {% for script in scripts %}
          Run {{ script }}
          <form action="/dash/run?command={{script}}" method="post"/>
          <button name="actionBtn" type="submit"/>
          Run
        </button>
      </form>
      <hr/>
    {% endfor %}
  </div>
{% endblock %}
