{% extends "layout.html" %}
{% block content %}
  <head>
    <!-- Favicon -->

    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
      
    </script>
    <script type=text/javascript>
      $(function() {
      $('a#refresh').bind('click', function() {
      $.getJSON('/dash/refresh_balance',
      function(data) {
      //do nothing
      });
      return false;
      });
      });
    </script>
    <!-- Bootstrap -->

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    >

      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        type= "text/javascript"
      >
        
      </script>

      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        type= "text/javascript"
      >
        
      </script>

      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        type= "text/javascript"
      >
        
      </script>
      <!-- Datatable -->

      <link
        href="jquery.dataTables.min.css"
        rel="stylesheet"
        type="text/css"
      >

        <!-- <link
          href="https://cdn.datatables.net/responsive/2.2.3/css/dataTables.responsive.min.css"
          rel="stylesheet"
          type="text/css"
	  > -->

        <link href="{{ url_for('static', filename='dataTables.responsive.min.css') }}" rel="stylesheet" type="text/css">

          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"
          >
            
          </script>

          <script
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
            type= "text/javascript"
          >
            
          </script>

          <script
            src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"
            type= "text/javascript"
          >
            
          </script>

          <script
            src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"
            type= "text/javascript"
          >
            
          </script>
          <script src="excellentexport.js">
            
          </script>

<style>


    .out-of-stock{ background-color: #f44336; color: #222;}

    .high-stock{ background-color: #8bc34a; color: #222; }

    .medium-stock{ background-color: #ffa726; color: #222; }

    .low-stock{ background-color: #ff7043; color: #222; }

    .link { color: black; font-size: 14px}

</style>

        </head>
        <body>
          <div>
            <div class="card-body">

              <a
                download="data.xls"
                href="#"
                onclick="return ExcellentExport.excel(this, 'proxies', 'Excel Data');"
              >
                Export to Excel
              </a>

              <a
                download="data.csv"
                href="#"
                onclick="return ExcellentExport.csv(this, 'proxies');"
              >
                Export to CSV
              </a>
              <a href=#  id=refresh>
                <button class='btn btn-default'>
                  refresh_balance
                </button>
              </a>
              <div style="display: flex;">
                {% for file in files %}
                  <form method="post">
                    <input name="submit" type="hidden" value="{{file}}"/>
                    <button class="btn btn-success mt-2">
                      {{ file }}
                    </button>
                  </form>
                {% endfor %}
              </div>
              <div class="mt-4">
                {% if request.method == 'POST' %}

                  <table
                    class="display table nowrap responsive"
                    id="proxies"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        {% for header in results[0].keys() %}
                          <th>
			  {{ header }}
                          </th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in results %}
		      <tr class="product-row" >
                        {% for index in range(0, len(fieldnames)) %}
			<td class="{{fieldnames[index]}}"/>
				<div> {{ row[fieldnames[index]] }}</div>
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>
      </div>
    </body>
    <script type="text/javascript">
      $('#proxies').DataTable( {
      "aaSorting": [[ {{ order_column }} ,'desc']],
      lengthMenu: [
      [10, 25, 50, 100, -1],
      [10, 25, 50, 100, 'All']
      ]
      } );
    </script>

<script>

  // Select all elements with the class "product-row"
  const rows = document.querySelectorAll(".product-row");

  // Loop through each "product-row" element
  for(let i = 0; i < rows.length; i++){

      // Get the stock value of the current product
 const stock = rows[i].querySelector(".net_perc").textContent;

// Add a class to the current element based on stock value
      // Product is out of stock
      if(stock == 0){
          rows[i].classList.add("out-of-stock");
        }

       // Product has low stock
      else if(stock < 0 ){
          rows[i].classList.toggle("low-stock");
	  //reloadCss();
        }

      // Product has medium stock
      else if(stock >= 5 && stock < 10){
          rows[i].classList.add("medium-stock");
         }

       // Product has high stock
      else { rows[i].classList.add("high-stock"); }

  }
function reloadCss()
{
    var links = document.getElementsByTagName("link");
    for (var cl in links)
    {
        var link = links[cl];
        if (link.rel === "stylesheet")
            link.href += "";
    }
}
</script>

  </html>
{% endblock %}
