<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greencandle</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           jQuery.get('env.txt', function(data) {
           $("span").text('Greencandle-' + data);
           document.title = ('Greencandle-' + data);
           });
            $('#customers td.y_n').each(function() {
                if ($(this).text() < 0) {
                    $(this).css('background-color', '#f00');
                }
            });
        });
    </script>

</head>

<body>

    <header>
        <div class="container">
          <h1 class="logo"><span>Greencandle</span></h1>
            <strong><nav>
      <ul class="menu">
        <li>
          <a href="/" target="_self">Main Page</a> |
          <a href="/logout" target="_self">logout</a>
        </li>
      </ul>
    </nav></strong>
        </div>

    </header>

    {% if request.path=="/" %}
    <p id="demo"></p>
    <meta http-equiv="refresh" content="60">
    <script>
        var d = new Date();
        document.getElementById("demo").innerHTML = "Page last updated: " + d;
    </script>

    {% endif %}

    <div class="container" style="max-width:2140px;">
        {% block content %} {% endblock %}
    </div>

</body>

</html>
